# Strings

In [ ]:
## Needed further in class:
import math

In [ ]:
str = "Hello World"
print(str)
print(type(str))
print(len(str))
print(str * 2)
print(str[4])
print(str[2:])
print(str[2:5])
print(str + " Om")

Hello World
<class 'str'>
11
Hello WorldHello World
o
llo World
llo
Hello World Om

# String Manipulation

In [ ]:
print(str.upper())
print(str.lower())
print(str.find("o"))

## For reversal:-
print(str[::-1])

HELLO WORLD
hello world
4
dlroW olleH

# Loops

In [ ]:
## Segregation based on data-types
ls = [True, 12, False, 32, 77, "Om", 100, "Anand"]
ls1 = []
ls2 = []
ls3 = []

for i in ls:
    if type(i) == bool :
        ls1.append(i)
    elif type(i) == int:
        ls2.append(i)
    else:
        ls3.append(i)
print(ls1, ls2, ls3)

[True, False] [12, 32, 77, 100] ['Om', 'Anand']

In [ ]:
s1 = "Hello World, Om"
for x in s1:
    print(x, end=" ")
print("\n")

for x in range(10, 20):
    print(x, end=" ")
print("\n")

for x in range(5, 10):
    print(s1[x], end=" ")
print("\n")

for x in range(0, -11, -1):
    print(x, end=" ")
print("\n")

H e l l o   W o r l d ,   O m

10 11 12 13 14 15 16 17 18 19

  W o r l

0 -1 -2 -3 -4 -5 -6 -7 -8 -9 -10

# Functions in Python

In [ ]:
## Check if the given number is prime or not?
def isPrime(n):
    flag = True
    for x in range(2, int(math.sqrt(n))):
        if(n%x == 0):
            flag = False
            break
    return flag

n1 = int(input("Enter the number: "))
print(n1, " : ", isPrime(n1))
n2 = int(input("Enter the number: "))
print(n2, " : ", isPrime(n2))

Enter the number: 120
120  :  False
Enter the number: 23
23  :  True

In [ ]:
## Same segregate data-types using a function.
def segDataType(ls):
    ls1 = []
    ls2 = []
    ls3 = []

    for i in ls:
        if type(i) == bool :
            ls1.append(i)
        elif type(i) == int:
            ls2.append(i)
        else:
            ls3.append(i)
    return [ls1, ls2, ls3]

ls = [True, 12, False, 32, 77, "Om", 100, "Anand"]
## ls4 is global, now the results of this function-call(segDataType) are globally accessable.
ls4 = segDataType(ls)
for x in ls4: print(x)

[True, False]
[12, 32, 77, 100]
['Om', 'Anand']

# Assignment Questions

In [ ]:
## Q1: Python program to check whether the string is Symmetrical or Palindrome
def isPalindrome(ls):
    return ls == ls[::-1]

ls = input()
print(isPalindrome(ls))

abba
True

In [ ]:
## Q2: Python program to reverse words in a given string.

ls = input()
print(" ".join(ls.split()[::-1]))

My Name is Om Shree
Shree Om is Name My

In [ ]:
## Q3: Python program to remove 'i'th character from string.
s = input()
i = int(input("Target index to remove: "))
ls = list(s)
del ls[i]
print(''.join(ls))

Om Shree
Target index to remove: 2
OmShree

In [ ]:
## Q4: Python program to avoid spaces in string length.
s = "Om Shree"
l = s.replace(" ", "")
print(len(l))

7

In [1]:
## Q5: Python program to capitalize the firt and last word of each word in
## the string.

s = "My name is Om Shree"
ls = s.split(" ")
i = 0
for x in ls:
  ls[i] = x[0].upper() + x[1:len(x)-1] + x[len(x)-1].upper()
  i += 1
print(" ".join(ls))

MY NamE IS OM ShreE